@echo off
@REM This command bash will stop the downloader windows service
@REM And then uninstall this service from operation system
@REM Configurations will be remained in directory c:/datahub/downloader on the disk.
@REM You can restart from those configurations in the near future.
@REM
c:/xdown/downloader.exe service stop
set "$process=downloader.exe"
for %%a in (%$process%) do tasklist /fi "imagename eq %%a"  | find "%%a" && taskkill /f /im %%a

echo shutdown xdown successfully!
pause