@echo off

@REM It is recommended to start here.
@REM Modify bash args below.
@REM "name" and "tags" must be alphanumeric sequence: [a-zA-Z-_.]
@REM Chinese chars are not supported here in bash file.
@REM
@REM Example:
@REM
@REM downloader.exe service start ^
@REM
@REM Startup from here
@REM
c:/xdown/downloader.exe service start


echo "xdown started!"
echo ""
pause